$blue-color: rgb(10, 105, 218);
$black-color: #333;
$btn-hover: rgb(0, 108, 255);
$white-color: #ffffff;
$bg-transparent: transparent;
$bg-white: $white-color;
$bg-primary: $blue-color;
$border-rounded: 30px;
$fonts: 1.6rem;
$fonts-18: 1.8rem;
$fonts-20: 2rem;
$fonts-22: 2.2rem;
$fonts-24: 2.4rem;
$fonts-28: 2.8rem;
$text-primary: $white-color;
