@use '../../sass/helper' as *;

.featured__content {
  &_favorite {
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 10px;
    background-color: $bg-white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    line-height: 0;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100%;
  &_img {
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }
  &_booking {
    background-color: #ffffff;
    padding: 20px 15px;
    flex: 1;
    &_title {
      display: flex;
      flex-direction: column;
      h3 {
        flex: 1;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: hidden;
        word-break: break-word;
      }
      p {
        flex-shrink: 0;
      }
    }
    h3 {
      font-size: 1.8rem;
      line-height: 2.6rem;
      font-weight: 700;
      font-style: normal;
      color: #282e44;
      margin-bottom: 15px;
    }
    p {
      // color: $black-Second;
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.5rem;
      letter-spacing: 0.23px;
      mix-blend-mode: normal;
      opacity: 0.95;
    }
    .icon {
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
      align-items: center;
      span {
        font-style: normal;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.3rem;
        letter-spacing: 0.23px;
        mix-blend-mode: normal;
        opacity: 0.95;
        margin-right: 10px;
      }
    }
    a {
      border-radius: 20px;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 15px 20px;
      text-align: center;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
  }
}
