@use '../../../sass/helper' as *;
.wrap {
  .wrap_item {
    padding: 0 40px;
    position: relative;
  }
  //   right: 40px;
  //   border-radius: 10px;
  //   -webkit-border-radius: 10px;
  //   -moz-border-radius: 10px;
  //   -ms-border-radius: 10px;
  //   -o-border-radius: 10px;
  .sidebar {
    border-radius: 10px;
    min-height: 710px;
    color: $text-primary;
    padding: 20px 20px 40px 30px;
    background: linear-gradient(142deg, rgba(10, 105, 218, 1) 0%, rgba(8, 86, 200, 1) 60%, rgba(2, 49, 165, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-family: 'bello';
      }
      svg {
        font-weight: bolder;
      }
    }
    &__menu {
      padding-right: 10px;
      margin-top: -200px;
      display: flex;
      flex-direction: column;
      line-height: 1.8;
    }
  }
}
.cloud {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
